*, *::before, *::after {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  padding: 0;
  margin: 0;
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.container {
  border: #ccc 1px solid;
  padding: 2rem;
  width: 30rem;
}
h1{
  font-family: 'Josefin Slab', serif;
  font-weight: 700;
  font-weight: normal;
  text-align: center;
}
h1::before, h1::after {
  content: "⁓";
  padding: 0 .5rem;
}
p, q, cite {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}
p {
  color: #999;
}

button {
  border-radius: 0;
  padding: 1rem;
  background-color: #fff;
  transition: all .2s ease-in-out;
  border: #ccc 1px solid;
  cursor: pointer;
  display: block;
  width: 100%;
}
button:hover {
  background-color: #f4f4f4;
}

.quote {
  margin: 2rem 0;
  padding: 2rem 1rem;
  border-top: #d5d5d5 1px solid;
  border-bottom: #d5d5d5 1px solid;
}
q, cite {
  display: block;
}
cite {
  text-align: right;
}
cite::before {
  content: "-- ";
}